# Ignore environment variables
.env
.env.*

# Ignore sensitive files
*.env

# Ignore server-side node_modules and logs
Server/node_modules/
Server/logs/
Server/*.log

# Ignore client-side node_modules and build
Client/node_modules/
Client/dist/
Client/dist-ssr/

# Ignore editor and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
